// primary styles 

$charcoal: #3a3a3a;
$blue: #0b02ff;

$darkBlue: #0D112B;
$cobalt: #0020C2;


$white: #fff;
$darkGray: #827d7d;
$darkerGray: #454647;


$red: #f20f2b;
$darkRed: #880415;
$yellow: #ddb72e;
$grayText: #958c8c;
$lightGray: #f1f1f1;
$borderGray: #c8c8c8;
$green: #b7951b;
$darkGreen: #574807;
$black: #131313;
$lightYellow: #f8e59f;
$orange: #ddb72e;
$pink: #cdbb77;
