.live_stream {
    padding: 60px 0;

    .title {
        @include span-columns(12);

        h3 {
            font-family: 'robotobold', sans-serif;
            font-size: 30px;
            text-align: left;
            margin: 0 0 40px;
            line-height: 1.2;
            text-transform: none;

            @include media($tablet){
                font-size: 28px;
            }

            @include media($mobile){
                font-size: 26px;
                margin: 0 0 20px;
            }
        }
    }

    .columns_wrap {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

        @include media($tablet) {
            @include span-columns(8);
        }
    }

    .column {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

        @include media($tablet) {
            @include span-columns(8);
        }

        &.one {
            width: 60%;
            float: left;

            @include media($tablet) {
                width: 100%;
            }

            a {
                display: block;
            }

            .button_wrap {
                position: absolute;
                width: 100%;
                text-align: center;
                top: 0;
                padding-top: 20%;

                img {
                    width: auto;
                    margin: 0 auto;
                }
            }
        }

        &.two {
            width: 40%;
            float: left;
            padding-left: 2%;

            @include media($tablet) {
                width: 100%;
                padding-left: 0;
                margin-top: 20px;
            }

            .live_chat {
                @include span-columns(12);
                height: 100%;
            }

            iframe {
                float: left;
                width: 100% !important;

                @include media($tablet) {
                    position: relative;
                    width: 100%;
                    height: 300px;
                    max-height: 300px;
                }

                @include media($mobile) {
                    height: 360px;
                    max-height: 360px;
                    margin-top: 20px;
                }
            }
        }

        #status {
            top: -30px;
            width: 100%;
            float: left;

            @include media($mobile) {
                top: 10px;
                text-align: center;
            }

        }

    }

    &.blog {

        .row {
            padding: 20px 0;
            border-top: 1px solid $darkGray;
            margin-top: 20px;

            &:first-child {
                border-top: none;
                margin-top: 0;
            }

            .title {

                a {
                    color: $black;
                    display: inline-block;

                    &:hover {
                        color: $red;
                    }

                }
            }
        }
    }
}


.chatbox{
    width: 100%;
    height: 350px;
    overflow-y:scroll;
    background: rgba(146, 121, 110, 0.26);
    border-radius: 0px;
    border: solid 1px #BDBDBD;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin: 0px !important;
}
.chatbox li{
    clear: both;
    text-decoration: none;
    list-style-type: none;
    margin: 20px 0px 0px 20px;
}
.actual_msg{
    float: left;
    display: inline-block;
    margin-right: 20px;
    padding: 25px 34px;
    min-width: 160px;
    min-height: 10px;
    max-width: 510px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(172, 172, 172, 0.73);
    line-height: 1.4;
    word-wrap: break-word;
    color: #1A1A1A;
    background-color: rgba(0, 0, 0, 0.11);
}
.date{
    font-size: 9px;
    float: left;
    margin-top: 10px;
}

.rumbletalk-embed {
    min-height: 100%;
}

.rumbletalk-archive {
    max-height: 400px;
    overflow: scroll;
}

.rumbletalk-archive .image {
    max-width: 35px;
    max-height: 35px;
}

.rumbletalk-archive .user-message {
    border: 1px solid #EEE;
    padding: 5px;
    margin: 3px;
}
.rumbletalk-archive .name {
    vertical-align: top;
    font-weight: bold;
    margin-right: 10px;
}

.rumbletalk-archive .time {
    float: right;
}

.rumbletalk-archive .text {
    vertical-align: top;
}

.wcWindowTitle {
    background-color: #f1f1f1 !important;
    color: #f1f1f1 !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    font-size: 0;
    height: 5px  !important;
}

.wcContainer {
    input.wcInput {
        background: $white !important;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        padding: 10px;
        height: 40px;
        margin: 10px 0;
    }


    input[type="button"] {
        padding: 0 20px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        height: 40px;
        color: $white !important;
        margin: 10px 0;
    }
}
.wcContainer {

    input[type="button"] {
        background: #f20f2b !important;

        &:hover {
            background: #880415 !important;
        }
    }

    .wcMessages {
        @include robotoreg;
        background-color: $white !important;

        .wcMessage {
            background-color: $white !important;

            .wcMessageContent {
                background-color: rgba(241,241,241,.7) !important;
                border-radius: 50px !important;
                -webkit-border-radius: 50px !important;
                -moz-border-radius: 50px !important;
            }

            > .wcMessageUser {
                background-color: $white;
            }
        }
    }

    .wcControls {
        background: rgba(241,241,241,.7) !important;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-bottomleft: 6px;
        -moz-border-radius-bottomright: 6px;

        a {
            background-color: transparent !important;
            width: 22px !important;
            background-size: 100% !important;
            margin-left: 5px;

            &.wcAddFileAttachment {
                margin-right: 5px;
            }
        }
    }

    .wcControls span {
        background: rgba(241,241,241,.7) !important;
    }
}